/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/*Workbook css start here */

.workbookImages h3.uabb-simplify {
    margin-bottom: 20px!important;
}
.facet_filters strong{
	border-bottom: 2px solid #ed3f42 !important;
	    color: #ed3f42 !important;
}
.gform_footer input.gform_button.button{
	padding: 20px 60px;
    border-radius: 0!important;
}

.signinButton .fl-button-wrap .fl-button {
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 0px;
    height: 45px;
    width: 153px;
    letter-spacing: 2px;
    line-height: 33px;
    text-align: center;
    padding: 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff!important;
}

.signinButton .fl-button-wrap .fl-button span {
    color: #fff!important;
}


/*Workbook css end here */


/* Fav button css */

.favProdPdp .fa-heart-o:before {
    content: "\f08a";
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
}

.favProdPdp .fa-heart:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
}

.product #product-images-holder .favProdPdp {
    position: absolute;
    z-index: 9;
    bottom: 15px;
    right: 40px;
    padding: 12px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product #product-images-holder .favProdPdp i {
    font-size: 30px;
}

.product .product-swatch .product-swatch-inner {
    position: relative;
}

.product .product-swatch .product-swatch-inner .favProdPdp {
    position: absolute;
    top: 430px;
    z-index: 9;
    left: auto;
    right: 85px;
    background-color: #fff;
    padding: 12px 12px 8px 12px;
    border-radius: 100%;
}

.product .product-swatch .product-swatch-inner .favProdPdp i {
    font-size: 30px;
}


/* for plp css */

.product-plp-grid .product-row .fl-post-grid-post {
    position: relative;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp {
    background-color: #fff!important;
    display: block;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp i {
    font-size: 20px;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP {
    position: absolute;
    left: auto;
    right: 20px;
    bottom: 8px;
}

.product-variations1 {
    margin-bottom: 20px;
}


/* Fav button css end */

/* for plp css */

.product-plp-grid .product-row .fl-post-grid-post {
    position: relative;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp {
    background-color: #fff!important;
    display: block;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp i {
    font-size: 20px;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP {
    position: absolute;
    left: auto;
    right: 20px;
    bottom: 8px;
}

.product-variations1 {
    margin-bottom: 20px;
}


/* Fav button css end */

#modal-608aa042f0814 h3 {
    font-size: 24px!important;
    color: #000!important;
    margin: 20px 0px -10px 20px!important;
}

#modal-608aa042f0814 textarea {
    min-height: 120px!important;
}

#modal-608aa042f0814 input[type=submit] {
    margin-top: 20px!important;
    border-radius: 0px!important;
    width: 120px!important;
    color: #fff!important;
    letter-spacing: 2px!important;
    position: static!important;
    margin-left: 0px!important;
    background-color: #0390A6;
    border-color: #0390A6;
}

#modal-608aa042f0814 input[type=submit]:hover {
    background-color: #ff0909;
    border-color: #ff0909;
}

#modal-608aa042f0814 .uabb-modal-close {
    top: 0px!important;
    margin-left: -40px!important;
    margin-top: 20px!important;
}

#modal-608aa042f0814 .uabb-modal-close i {
    color: #2d6ca2!important;
    font-size: 30px!important;
}


/* text show popup css  */

#modal-608aa042f0818 .uabb-modal-text {
    padding: 40px 20px!important;
}

#modal-608aa042f0818 .uabb-modal-text p.note_content {
    padding: 40px 20px!important;
    background-color: #c3c3c32e!important;
}

#modal-608aa042f0818 .uabb-modal-close {
    top: -10px!important;
    margin-left: -40px!important;
    margin-top: 20px!important;
}

#modal-608aa042f0818 .uabb-modal-close i {
    color: #2d6ca2!important;
    font-size: 30px;
}

#modal-608aa042f0818 h3 {
    font-size: 24px!important;
    color: #000!important;
    margin: 20px 0px -10px 0px!important;
}


.global-location ul.storename .phone a {
    color: #ed3f42;
}

.global-location ul.storename .phone a:hover {
    color: #56728d
}
.broken_link, a.broken_link {
    text-decoration: none !important;
}
/* Resiter page css start here*/

.registerationForm .user-registration {
    border: none!important;
    padding: 0px!important;
}

.registerationForm .user-registration input[type=text] {
    border: 1px solid #ccc;
    height: 46px;
}

.registerationForm .user-registration input[type=text],
.registerationForm .user-registration input[type=email],
.registerationForm .user-registration input[type=password],
.registerationForm .user-registration select {
    border: 1px solid #ccc;
    height: 46px;
}

.registerationForm .ur-submit-button,
.user-registration .ur-submit-button {
    margin: 0 auto!important;
    margin-top: 60px!important;
    /*     border-radius: 40px!important; */
    width: 153px;
    height: 45px;
    font-family: Montserrat, sans-serif!important;
    font-weight: 400!important;
    font-size: 16px;
    letter-spacing: 2px!important;
    text-transform: uppercase!important;
    color: #fff!important;
}

.registerationForm .field-radio ul,
.user-registration .field-radio ul {
    padding-left: 0px!important;
}

.registerationForm .user-registration .field-radio ul label {
    font-weight: 600!important;
    font-size: 12px!important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4F4F4F!important;
}


/* Resiter page css end here*/


/* Favoriate product page css start here*/

.need-share-button_button {
    border: none!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.need-share-button_button:before {
    content: "\f1e0";
    font: normal normal normal 28px/1 FontAwesome;
    color: #0390A6;
    font-size: 24px;
}

.sharingBox>a>i,
.shareAndPrint>a>i {
    color: #0390A6!important;
}

#mesureMentprintMe h3 {
    margin-bottom: 30px;
}

.need-share-button .need-share-button_button:last-child {
    display: none!important;
}

.favProWarpper .prod_like_wrap .favButtons .buttonHolder .view_note_fav {
    background-color: #fff;
    display: inline-block!important;
    padding: 12px 14px!important;
    width: auto!important;
    border-radius: 100%;
    margin-left: 20px!important;
}

.favProWarpper .prod_like_wrap .favButtons .buttonHolder .view_note_fav i:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    color: #0390A6!important;
    font-size: 26px;
}

.favProWarpper .prod_like_wrap .favButtons .remove-parent {
    background-color: #fff;
    display: inline-block!important;
    padding: 12px 14px!important;
    width: auto!important;
    border-radius: 100%;
}

.favProWarpper .prod_like_wrap .favButtons .remove-parent i:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    color: #0390A6!important;
    font-size: 26px;
}

.favProWarpper .product-row>div.col-md-4:nth-child(4n+1) {
    clear: left;
}


/*WorkBook css */

#printMe .product-row>div.col-md-4:nth-child(3n+1) {
    clear: none!important;
}

#printMe .favButtons.button-wrapper #roomvo {
    width: auto !important;
}

#printMe .favButtons.button-wrapper #roomvo .roomvo-container>a {
    visibility: visible;
    margin-bottom: 10px;
    border-radius: 60px;
    width: 150px!important;
    padding: 12px 0px 8px 0px;
}

#printMe .favButtons.button-wrapper #roomvo .roomvo-container>a:hover {
    cursor: pointer;
}

.product-swatch-inner .wpfp-span .wpfp-link {
    color: #fff;
    background-color: #0390A6;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    width: 90%;
    border-radius: 0px;
    border: none;
    padding: 10px 0;
    margin: 10px auto;
}

.product-swatch-inner .wpfp-span .wpfp-link:hover {
    color: #fff;
    border-color: initial;
    background-color: #848689;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}

.favProWarpper {
    max-width: 992px;
    margin: 0 auto;
    position: relative;
}

.shareAndPrint {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.shareAndPrint a i {
    font-size: 20px;
}

#mesureMentprintMe .product-row>div.col-md-4:nth-child(3n+1) {
    clear: none;
}

.favProWarpper h2 {
    font-size: 32px;
    line-height: 1em;
    color: #000;
    margin-bottom: 20px!important;
}

.favProWarpper .product-plp-grid h3 {
    font-size: 22px;
    color: #4F4F4F;
    text-transform: capitalize;
}

.favProWarpper .heading-title,
.favProWarpper .heading-text {
    text-align: center;
}

.favProWarpper .statiContent {
    text-align: center;
}

.favProWarpper .favButtons {
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
    -webkit-transition: all 0.5s;
}

.favProWarpper .product-row .fl-post-grid-image:hover .button-wrapper {
    top: 0;
}

.wpfp-span .wpfp-link {
    border-radius: 60px;
    font-size: 12px;
    color: #fff;
    height: 40px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    width: 150px;
    margin: 0 auto;
    background-color: #0390A6;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.wpfp-span .wpfp-link:hover {
    background: #848689;
    text-decoration: none;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap>a {
    width: 100%;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap img {
    margin-bottom: 0px!important;
    max-height: 280px!important;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .fl-button {
    border-radius: 60px;
    font-size: 12px;
    color: #fff;
    height: 40px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .wpfp-link.remove-parent {
    background-color: #fff;
    color: #0390A6;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    border-style: none;
    border-width: 0px;
    border-color: initial;
    width: auto;
    padding: 11px 15px;
    border-radius: 20px;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .wpfp-link.remove-parent i {
    font-size: 18px!important;
}


/* Favoriate product page css end here*/


/* Measurment tool css start here  */

.mesureMentWrap .button-wrapper .button.view,
.favProWarpper .favButtons>a {
    background-color: #0390A6!important;
    color: #fff!important;
    font-size: 16px!important;
    font-family: 'Poppins', sans-serif;
}

.mesureMentWrap .button-wrapper .button.view:hover,
.favProWarpper .favButtons>a:hover {
    background-color: #ff0909!important;
    color: #fff!important;
    border: none!important;
}

#mesureMentprintMe h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

.mesureMentWrap img.measure_img {
    max-height: 80px!important;
    width: auto!important;
    max-width: 90%!important;
    margin: 0 auto!important;
}

.mesureMentWrap {
    position: relative;
    overflow: hidden;
    min-height: 220px!important;
}

.mesureMentWrap .favButtons {
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

#mesureMentprintMe .product-row .mesureMentWrap:hover .favButtons {
    top: 10%;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

#mesureMentprintMe.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a {
    background-color: rgba(0, 0, 0, 0.2);
}

.mesureMentWrap .button-wrapper {
    font-size: 12px;
    border-radius: 50px;
    display: flex;
    align-items: flex-end!important;
    padding-bottom: 0px;
    transition: all 1.1s;
}

.mesureMentWrap .button-wrapper>a {
    font-size: 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}

.mesureMentWrap .button-wrapper>a:hover {
    border-radius: 50px;
}

.mesureMentWrap .button-wrapper>a:first-child {
    width: 120px;
}

.mesureMentWrap .button-wrapper>a:last-child {
    padding: 16px 16px;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    background-color: #fff!important;
}

.mesureMentWrap .button-wrapper>a:last-child:hover {
    padding: 16px 16px;
    border-radius: 50px;
}

.mesureMentWrap .button-wrapper>a:last-child i {
    margin: 0px!important;
    color: #0390A6!important;
}

.mesureMentWrap .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly!important;
}

#mesureMentprintMe .fl-post-grid-post h3 {
    margin: 12px 0px 0px;
    font-size: 20px;
    color: #4F4F4F;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.favProWarpper .favButtons>a {
    width: auto!important;
}


/* measuremnt popup */

.measurepopup {
    width: 90%;
    overflow: hidden;
    margin: 0 auto!important;
    max-width: 1100px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    z-index: 9999;
    margin-top: 50px;
    margin-bottom: 50px;
}

.measurepopup .row h3 {
    font-weight: 700;
    color: #000;
    text-align: left;
    color: #4F4F4F;
    font-size: 23px;
    letter-spacing: 0.22px;
    line-height: 41px;
}

.measurepopup .row {
    display: flex;
    align-items: center;
}

.measurepopup .sharingBox a i {
    font-size: 24px!important;
    padding: 20px;
}

.measurepopup .sharingBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.measurepopup img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.overlayMeasure,
.overlayInquery {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPLP .overlayInquery .measurepopup .row {
    display: block!important;
    overflow-y: scroll;
    max-height: 80vh;
}

.overlayInquery .productInfo {
    padding-top: 60px!important;
    width: 100%!important;
    text-align: center!important;
}

.productInfo>img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.productInfo h3 {
    text-align: center!important;
    margin-bottom: 0px;
    font-family: Playfair Display, serif;
    font-weight: 700!important;
}

.pageUrl,
.collectionName,
.brandName {
    display: none;
}

.newPLP .closePopup {
    position: absolute!important;
    top: 0px!important;
}

.overlayInquery .measurepopup {
    border-radius: 10px!important;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.overlayInquery .row::-webkit-scrollbar {
    width: 1em;
}

.overlayInquery .row::-webkit-scrollbar-track {
    background-color: #cccccc36;
}

.overlayInquery .row::-webkit-scrollbar-thumb {
    background-color: #a9a9a952;
}


/*Measuremnt popup end here*/

/*Measuremnt tool css end here */


.FloorteBtn .fl-callout-text a{
    color: #56728d !important;
}
.top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * ,
.fl-page-bar-text font span{
    font-size: 14px !important;
}
.fl-page-bar a *,
.fl-page-bar a *:hover{
    color: #fff !important;
    font-size: 14px;
}
.slick-track{
    display: flex;
    align-items: center;
    justify-content:center;
}
.fa-2x {
    font-size: 18px !important;
    vertical-align: text-bottom !important;
}
 .Floorvan_form a{
	color: #56728d!important; 
}

/*footer .iPadFooter.fl-row-bg-color   .fl-row-content-wrap{
    background-color: #56728d;
}*/
ul.social-icons li a:hover i {
    color: #56728d;
}

.privacy-policy-row .storename, .privacy-policy-row .phone{
    display: inline-block
}
#menu-item-507185 .storename li .phone span::before,
#responsive-menu-additional-content .storename .phone a span::before{
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}
.ui-datepicker-title select{
    color: #414042;
}
.fl-page-bar-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}
.d-none .fl-heading span{
    font-size: 0px !important;
}
.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}
.gform_wrapper .gfield_time_hour input, 
.gform_wrapper .gfield_time_minute input {
    
    width: calc(5rem + 8px) !important;
}
.gform_wrapper .gfield_time_hour i{
    margin-right: -25px;
}
.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    margin: 1px 0 9px 13px !important;
}
body .gform_wrapper .top_label div.ginput_container.ginput_container_time{
    margin-right: 30px !important;
}

.fullWidthBanner img {
    width: 100%;
}

.phone>a {
    font-weight: 400;
    color: #3b5267;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px!important;
}
.gform_wrapper ul.gform_fields li.gfield select{
    padding: 14px 5px!important;
    min-width: 60px;
}
.gform_wrapper .gfield_time_hour i{
    margin-top: -2px!important;
}
.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}
.fl-page-bar-row .fl-page-bar-text-2 {
    padding: 10px 0 0 0;
}
.fl-page-bar-row .fl-page-bar-text-2 a{
    font-size: 16px;
}
.fl-page-bar-row .fl-page-bar-text-2 i{
    font-size: 18px;
    margin-right: 5px;
    vertical-align: -3px;
}
.fl-page-bar-nav .menu-item .storename li .phone a:before{
    content: "\f095";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    margin: 2px 5px 0 0px;
    font-weight: 400;
    font-size: 18px;
}
#product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs{
    max-height: 456px;
}


/* Flyer css open here */

.location-icon .d-flex {
    display: flex;
}

.location-icon .info {
    margin: 0 15px;
}
.header_phone {
    margin-top: 5px;
}
.location-icon .info h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

.location-icon .info p {
    color: #ed3f42;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
}
.location-icon .info p:hover, .location-icon .uabb-icon:hover i:before {
    color: #56728d;
}
.location-icon {
    cursor: pointer;
}

.location-icon .uabb-icon i:before {
    color: #ED3F42;
    font-size: 30px;
    height: auto;
    width: auto;
    line-height: 30px;
    height: 30px;
    width: 30px;
}


/* Flyer css open here */

/* flyer and header icon css open here .... */
body .main-canvas .uabb-offcanvas-content {
    overflow-y: scroll !important;
    max-height: 100vh;
}
body .main-canvas .uabb-offcanvas-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}
 

body .main-canvas .uabb-offcanvas-content::-webkit-scrollbar-thumb {
  background-color: #ed3f42 !important;
  /* outline: 1px solid #000 !important; */
}
body .main-canvas .uabb-offcanvas-content::-webkit-scrollbar {
  width: 1em !important;
}

.location-info-section {
    margin: 20px;
    text-align: left;
    border-bottom: 1px solid #D5D5D6;
    padding-bottom: 20px;
}

.location-info-section .location-name {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    margin: 0 0 10px;
    padding: 0;
}

.location-info-section .location-name b {
    font-weight: 500;
}

.location-info-section .store-add {
    margin: 0 0 10px;
    padding: 0;
    color: #181E2B;
    font-weight: 400;
    font-family: Sen, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.location-info-section .store-phone {
    color: #ed3f42;
    font-size: 22px;
    font-family: Sen, sans-serif;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.location-info-section .store-phone:hover {
    color: #56728d;
}

.location-info-section .store-hour-section {
    margin: 20px 0;
    border-top: 1px solid #D5D5D6;
    border-bottom: 1px solid #D5D5D6;
}

.location-info-section .store-hour-section .label {
    color: #181E2B;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.location-info-section .store-hour-section ul.store-opening-hrs li {
    color: #181E2B;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: Poppins, sans-serif;
    margin: 0;
}

.location-info-section ul.storename .direction a,
.location-info-section a.links,
.location-info-section .fl-button-link,
.location-info-section a.store-cta-link.choose_location {
    background: none;
    border: 0;
    color: #ed3f42 !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: 1;
    margin: 0 0 7px;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    display: block !important;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
}

.location-info-section .fl-button-link:hover,
.location-info-section a.store-cta-link.choose_location:hover,
.location-info-section a.links:hover,
.location-info-section ul.storename .direction a:hover span {
    text-decoration: underline;
    color: #56728d !important;
}
.location-info-section a.links {
    display: none !important;
}
.location-info-section ul.storename .direction a span {
    color: #ed3f42 !important;
    display: block;
    text-align: center;
}

.location-info-section ul.storename .direction a:hover {
    background: none;
}

.header-location-info-section {
    display: flex;
    border-left: solid 1px #000;
    padding: 12px 24px;
}

.header-location-info-section i {
    font-size: 30px;
    margin-right: 8px;
}

.header-location-info-section .location-name {
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    color: #000000;
    margin: 0 0 5px;
}

.header-location-info-section .fl-button-link {
    color: #767676;
    font-weight: 300;
    line-height: 2px;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    display: block;
}

.location-info-section a.store-cta-link.choose_location {
    background: rgba(237,63,66,1);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #fff !important;
}
.location-info-section a.store-cta-link.choose_location:hover{
	background: rgba(65,64,66,1) !important;
	color: #fff !important;
	text-decoration: none;
}
/* flyer and header icon css open here .... */

@media(min-width:1200px) and (max-width:1480px) {
    .header-main-navigation .uabb-creative-menu .menu > li {
        margin-left: 20px;
        margin-right: 20px;
    }
	.header-main-navigation ul#menu-main-menu {
		display: flex !important;
		align-items: center !important;
		justify-content: space-between !important;
}
	}
}
@media(min-width:1024px) {
.fl-page-bar .fl-page-bar-nav>li>a {
    padding: 2px 60px!important;
}
}
@media(min-width:993px) and (max-width:1024px){
	.header_phone {
    font-size: 14px;
}
	.global-location *{
		font-size: 14px !important;
	}
	.global-location .storename *{
		font-size: 11px !important;
	}
	.global-location ul.storename .phone a:before {
   	 font-size: 13px !important;
	}

}
@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin-left: 30px;
    }

    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
}
@media (min-width: 768px){
    .fl-page-bar .text-right .fl-page-bar-nav {
        text-align: center;
    }
}
@media(max-width:768px) {
    /* .searchIcon {
        position: absolute;
    } */

    /* button#responsive-menu-button {
        top: 0 !important;
    } */
	footer *{
		text-align: center !important;
	}
	.fl-slide-1 .fl-slide-foreground {
		position: absolute !important;
		top: 29%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	.fl-slide-1 .fl-slide-content{
		background-color: transparent !important;
	}
	.max-width-issue{
		max-width: 400px !important;
    	margin: 0 auto !important;
	}
	.fl-button-group-layout-vertical .fl-button-wrap{
		text-align: center !important;
	}
	.location-icon .d-flex {
		display: flex;
		justify-content: center;
	}
	header .uabb-photo-content .uabb-photo-img{
		    max-width: 80% !important;
	}
	footer .fl-menu .menu > li{
		line-height: 1 !important;
	}
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
	#wpadminbar ~ #responsive-menu-container{
		margin-top:46px !important;
	}
    #responsive-menu-container #responsive-menu-search-box, 
    #responsive-menu-container #responsive-menu-additional-content, 
    #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-nav-right .fl-page-nav-wrap{
        display: none;
    }
    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }

    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .headerLogo {
        flex: 2;
    }
    .w-100{
        width: 100%;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #3b5267;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .headerMain .phone.retailer:before {

        content: "\ea3e";

    }
    .headerMain .phone.retailer span{
        font-size: 0;
    }

    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
    }
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
	.uabb-photo-gallery-item {
		width: 95% !important;
		margin: 10px 10px !important;
	}
/*     button#responsive-menu-button{
        top: 110px !important;
    } */
    .fl-page-bar-text font,
    .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 12px !important;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle{
        display: none !important;
    }
    #responsive-menu-container #responsive-menu-additional-content, 
    #responsive-menu-container #responsive-menu-title ,
    #responsive-menu-container #responsive-menu-search-box{
        padding: 10px 5% !important;
    }
    #responsive-menu-additional-content .storename li .phone span::before{
        content: "\f1f8";
        font-family: "foundation-icons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 5px;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
    button#responsive-menu-button {
        z-index: 99999 !important;
    }
    #menu-about-us,
    #menu-inspiration-menu,
    #menu-flooring-menu{
        text-align: left !important;
    }
}
@media (max-width: 604px){

    .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a *{
        line-height: 1.5 !important;
    }
    .uabb-masonary .uabb-masonary-item{
         width: 100% !important;
    } 
    .fl-page-header-primary .fl-logo-img {
        max-width: 64% !important;
    } 
}

@media(max-width:520px) {
	    button#responsive-menu-button {
        top: 55px !important;
    }
}

@media(max-width:480px) {    
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button{
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
}
@media (max-width: 414px){
/*     button#responsive-menu-button {
        top: 88px !important;
    } */
    .fa-2x{
        font-size: 16px !important;
    }
}
@media(max-width:379px) {  
    .top-bar-nav .fl-page-bar-nav>li>a {
        padding: 2px 5px;
    }
    .fl-page-bar-row .col-md-6.text-right{
        padding-left: 5px;
    } 
    .fl-page-bar-row .col-md-6.text-left{
        padding-right: 5px;
    } 
    .fl-page-bar-text font, .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 11px !important;
    }
/*     button#responsive-menu-button {
        top: 80px !important;
    } */
}
@media(max-width:374px) {  
    .fl-page-bar{
        display: none;
    }
/*     button#responsive-menu-button {
        top: 15px !important;
    } */
}

footer .social-icons i:hover:before {
    color: #ed3f42;
}
.lg-toolbar{
	top:30px !important;
}